<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C.A.C.</title>
  </head>
  <body>
    <h1>Cat Adoption Center</h1>
    <p>Welcome to the cat adoption center.<br>
    Feel free to add to our colection.<br>
     Feel obliged to adopt one.</p>
     <a href="cats/new">Give us your cat</a>
     <a href="/cats">Adopt a cat</a>
  </body>
</html>
